@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@source './src/**/*.{html,js,svelte,ts,md}';
@source '../node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}';
@source '../node_modules/flowbite-svelte-icons/**/*.{html,js,svelte,ts}';

@theme {
  --color-primary-50: #f2f9f6;
  --color-primary-100: #e6f3ed;
  --color-primary-200: #bfe3d3;
  --color-primary-300: #99d3b9;
  --color-primary-400: #4db38f;
  --color-primary-500: #009365;
  --color-primary-600: #00845b;
  --color-primary-700: #006e4c;
  --color-primary-800: #00583d;
  --color-primary-900: #004831;

  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;
  
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  html, body {
    @apply bg-gray-100 dark:bg-gray-900 min-h-screen;
  }
  button, [role="button"] {
    cursor: pointer;
  }
}
@source "../node_modules/flowbite-svelte/dist";


@utility event-info-card {
  @layer components {
    @apply bg-white rounded-lg shadow-md p-4 z-50 min-w-[320px];
  }
}

@utility event-info-card-grid {
  @layer components {
    @apply grid grid-cols-2 gap-4;
  }
}

@utility event-info-card-content {
  @layer components {
    @apply pt-0;
  }
}
